<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1><%= title %></h1>
  <table>
    <thead>
      <tr>
        <th>
          <h2>Airlines</h2>
        </th>
        <th>
          <h2>Airports</h2>
        </th>
        <th>
          <h2>Meals</h2>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% if (flights.length) { %>
          <td>
            <% flights.forEach(flight => { %>
              <p><%= flight.airline %></p>
            <% }) %>
          </td>
        <% } else { %>
          <td>No active Airlines</td>
        <% } %>
        <% if (flights.length) { %>
          <td>
            <% flights.forEach(flight => { %>
              <p><%= flight.airport %></p>
            <% }) %>
          </td>
        <% } else { %>
          <td>No active Airports</td>
        <% } %>
        <% if (meals.length) { %>
          <td>
            <% meals.forEach(meal => { %>
              <p><%= meal.name %></p>
            <% }) %>
          </td>
        <% } else { %>
          <td>No Meals</td>
        <% } %>
      </tr>
    </tbody>
  </table>
</main>

<%- include('./partials/footer') %>