<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form action="/flights/<%= flight._id %>" method="POST" autocomplete="off">
    <div>
      <label for="airline">Airline:</label>
      <select name="airline" id="airline">
        <option value="<%= flight.airline %>">
          <%= flight.airline %></option>
        <option value="<%= flight.airline === 'SouthWest Airlines' ? 'American Airlines' : flight.airline === 'United Airlines' ? 'American Airlines' : 'SouthWest Airlines' %>">
          <%= flight.airline === 'SouthWest Airlines' ? 'American Airlines' : flight.airline === 'United Airlines' ? 'American Airlines' : 'SouthWest Airlines' %>
        </option>
        <option value="<%= flight.airline === 'United Airlines' ? 'SouthWest Airlines' : flight.airline === 'American Airlines' ? 'United Airlines' : 'United Airlines' %>">
          <%= flight.airline === 'United Airlines' ? 'SouthWest Airlines' : flight.airline === 'American Airlines' ? 'United Airlines' : 'United Airlines' %>
        </option>
      </select>
    </div>
    <div>
      <label for="airport">Airport:</label>
        <select name="airport" id="airport">
          <option value="AUS">AUS</option>
          <option value="DFW">DFW</option>
          <option value="DEN">DEN</option>
          <option value="LAX">LAX</option>
          <option value="SAN">SAN</option>
        </select>
    </div>
    <div>
      <label for="datetime">Date and Time:</label>
      <input type="datetime-local" id="datetime" name="departs">
    </div>
    <button type="submit">Add Flight</button>
  </form>
</main>

<%- include('../partials/footer') %>