<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <table>
    <thead>
      <tr>
        <th>FlightNo</th>
        <th>Departs</th>
        <th></th>
        <th>REMOVE</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(flight => { %>
        <tr
        class="<%- flight.departs.getFullYear() < new Date().getFullYear() ? 'departed' : '' %>"
        >
          <td><%= flight.flightNo %></td>
          <td><%= flight.departs.toISOString().slice(0, 16) %></td>
          <td><a href="/flights/<%= flight._id %>">DETAILS</a></td>
          <td>
            <form
            action="/flights/<%= flight._id %>?_method=DELETE"
            method="POST"
            >
              <button>X</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
</table>
</main>

<%- include('../partials/footer') %>